{% extends 'base.html' %}

{% block content %}


    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <p style="padding-left:15px;">Всего позиций: <strong>{% for tab in tabs %}{% if forloop.last %}{{ forloop.counter }}{% endif %}{% endfor %}</strong></p>

        <p></p>
    <br>
<style type="text/css">

        table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            display: table-row;
        }

        td {
            display: table-cell;
            text-align: right;
            border: none;
            border: 1px solid #ccc;
            vertical-align: middle;
        }

        th {
            border: 1px black solid;
            writing-mode: tb-rl;
            text-align: right;
        }

    </style>
    <div style="overflow:scroll;" >
        <table class="table">
            <thead >
            <tr>

                <th>Наименование</th>
                <th>Количество</th>
                <th>Кому нужно</th>
                <th>Плановая дата</th>
                <th>Счета и заказы</th>
                <th>Отв. сотрудник</th>
                <th>Доп. инфо</th>

            </tr>
            </thead>
            <p></p>


            {% if user.is_authenticated %}
                {% for tab in tabs %}
                    <tbody>
                    <tr class="{% cycle 'bg-light' 'bg-white' %}">
                    <td width="70px"><a href="/admin/tender/controlproduct/{{ tab.id }}/change/">{{ tab.product }}</a></td>
                        <td width="100px"><a href="/admin/tender/controlproduct/{{ tab.id }}/change/">{{ tab.kol }}</a></td>

                        <td width="100px"><a href="/admin/tender/controlproduct/{{ tab.id }}/change/">{{ tab.company }}</a></td>
                        <td width="70px">{{ tab.data2|date:"d.M.Y.D" }}</td>
                        <td width="100px">{{ tab.info_schet }}</td>
                    <td width="100px">{{ tab.staffer }}</td>
                    <td width="100px">{{ tab.info }}</td>

                    </tr>{% endfor %}
            {% else %}
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
                <td>Авторизуйтесь</td>
                <td>Авторизуйтесь</td>



            </tbody>{% endif %}
        </table>
    </div>

{% endblock %}