{% extends 'base.html' %}

{% block content %}
{% for tab in tabs %}
    <main role="main" class="container">

        <div class="row">
          <div>  {% if tab.name == None %}
            <a href="#">Ссылка: нет ссылки</a>
                <br><br>
            {% else %}
            <a href="{{ tab.name }}">Ссылка: {{ tab.name }}</a>
               <br><br>

            {% endif %}


                    <a href="/admin/tender/info/{{ tab.id }}/change">{{ tab.content|safe }}</a>



                <div class="blog-post">

                    <p class="blog-post-meta" style="margin-bottom: 30px;"> {{ tab.created|date:"d.m.Y"|safe }}</p>

                </div>
            </div>

        </div><!-- /.row -->

    </main>
{% endfor %}


{% endblock %}