{% extends 'base.html' %}

{% block content %}



    <div class="m-5">

 <div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="navbar-brand">Инструкции, регламенты</h1>

  </div>
</div>


    <nav class="navbar navbar-light bg-light">
  <form class="form-inline">{% for tag in tags %}<a href="{% url 'posts_by_tag' tag.slug %}">
    <button class="btn btn-outline-success" type="button">
        {{ tag.name }}

        </button> </a> {% endfor %}

  </form>
</nav>

    <br/>

    <div class="row">
        {% for tab in tabs %}
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ tab.name }}</h5>
        <p class="card-text"><a href="{% url 'info_detail' pk=tab.pk %}">Описание: {{ tab.content|truncatechars:500|safe  }}</a></p>
          <p class="card-text">Последнее обновление: {{ tab.updated|date:"d.m.Y"|safe }}</p> <br/>

      {% if tab.info_pdf %}
                                <td style="width: 10%"><a href="{{ tab.info_pdf.url }}" download>
                                    <font color="#4169e1"><strong>{{ tab.info_pdf.name }}</strong></font>
                                </a></td>
                            {% else %}
                                <td>
                                    <font color="#cc0000"><strong>Нет файла</strong></font></td>{% endif %}<br/><br/>


        {% for tag in tab.tags.all %}<a href="#" class="btn btn-outline-success" > <small>

                    {{ tag }}

            </small></a>{% endfor %}
      </div>
    </div>
  </div>

    {% endfor %}

</div>
<p> </p><br/>
  </div>
{% endblock %}