{% extends 'base.html' %}

{% block content %}
     <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">

    <p style="padding-left:15px;">Всего юр. лиц: <strong>{% for tab in tabs %}{% if forloop.last %}<font color="cc0000">{{ forloop.counter }}</font>{% endif %}{% endfor %}</strong></p>
    <p style="padding-left:15px;">Список задач по таблице поставщиков: </p>
    {% for task in tasks %}
{#    {% if task.ur_doc_info %}#}

    <p style="padding-left:60px;" class="{% cycle 'bg-light' 'bg-white' %}">{{ task.organizations }} - <strong>{{ task.task_info }}</strong></p>
        <p></p>
{#{% endif %}#}
{% endfor %}
    <br>

<style type="text/css">

        table {
            display: table;
            width: 100%;
            border-collapse: collapse;
        }

        tr {
            display: table-row;
        }

        td {
            display: table-cell;
            text-align: center;
            border: none;
            border: 1px solid #ccc;
            vertical-align: middle;
        }

        th {
            border: 1px black solid;
            writing-mode: tb-rl;
            text-align: right;
        }

    </style>
    <div style="overflow:scroll;" >
        <table class="table">
            <thead >
            <tr>

                <th>Юр. лицо</th>

                <th>Договор</th>
                <th>Доп. согл.</th>

                <th>Протокол</th>

                <th>Сверка 1</th>
                <th>Сверка 2</th>
                <th>Сверка 3</th>
                <th>Сверка 4</th>
                <th>Годовая сверка</th>
                <th>Юр. док.</th>
                <th>Инфо</th>

                <th>Сотрудник</th>

            </tr>
            </thead>
            <p></p>


            {% if user.is_authenticated %}
                {% for tab in tabs %}
                    <tbody>
                    <tr class="{% cycle 'bg-light' 'bg-white' %}">

                        <td width="100px"><a href="/admin/tender/postavtab/{{ tab.id }}/change/">{{ tab.organizations }}
                            <br><font color="cc0000">Услуги: {{ tab.uslugi_vidy|truncatechars:100 }}</font></a></td>

{#{% if tab.is_past_due < now.date %}#}
                        {% if tab.dogovor == 'Да' %}
                            <td class="bg-success">Номер договора: {{ tab.nomer_dogovor }}<br>{{ tab.date_dogovor|date:"d.m.Y" }}<br>До: {{ tab.date_do_dogovor|date:"d.m.Y" }}</td>
                        {% elif tab.dogovor == '1Пролонг.' %}
                            <td class="bg-success">{{ tab.date_dogovor|date:"d.m.Y" }}</td>
                        {% elif tab.dogovor == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>
{% endif %}
                        {% if tab.dop == 'Да' %}
                            <td class="bg-success">{{ tab.date_dop|date:"d.m.Y" }}</td>
                        {% elif tab.dop == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.protokol == 'Да' %}
                            <td class="bg-success">{{ tab.date_protokol|date:"d.m.Y" }}</td>
                        {% elif tab.protokol == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.sverka_1 == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.sverka_1 == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.sverka_2  == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.sverka_2 == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.sverka_3  == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.sverka_3 == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.sverka_4  == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.sverka_4 == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                    {% if tab.sverka_god  == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.sverka_god == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        {% if tab.ur_dokument  == 'Да' %}
                            <td class="bg-success">ДА</td>
                        {% elif tab.ur_dokument == 'Нет' %}
                            <td class="bg-danger">НЕТ</td>
                        {% else %}
                            <td class="bg-warning">НЕ треб.</td>{% endif %}

                        <td width="100px">{{ tab.ur_doc_info }}</td>

                        <td>{{ tab.staffer }}</td>

                    </tr>{% endfor %}
            {% else %}
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>
            <td>Авторизуйтесь</td>


            </tbody>{% endif %}
        </table>
    </div>



{% endblock %}

