{% extends 'base.html' %}

{% block content %}

    {% block otvet %}

        <p></p>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
<h1 class="navbar-brand text-warning" style="margin-bottom: 30px;">Здесь будет выведен результат</h1>
</nav>

    {% endblock %}


    <p></p>
    <p  class="navbar-brand" style="padding-left:20px;" >Экономический калькулятор.
    <h4  style="padding-left:20px;" ><br><strong>Входные данные: </strong><br>Прибыль - рентабельность и выручка<br>Рентабельность - выручка и себестоимость
        <br>Себестоимость - рентабельность и выручка<br>Выручка - себестоимость и рентабельность
        <br>Наценка - выручка и себестоимость<br><br>
    </h4></p>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">

<form action="add" method="POST" class="text-warning">
    {% csrf_token %}

    Введите выручку: <input type="text" value="0" class="form-control" name="num1"><br><br>
    Введите себестоимость: <input type="text" value="0" class="form-control" name="num2"><br><br>
    Введите доп. затраты: <input type="text" value="0" class="form-control" name="num666"><br><br>
    Введите рентабельность: <input type="text" value="0" class="form-control" name="num3"><br><br>

    <input class="form-control" type="submit">

</form>
</nav><p></p>
{#    <p class="navbar-brand" style="padding-left:20px;">Рассчет себестоимости (разделитель - точка!)</p>#}
{#    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">#}
{##}
{#<form action="seb" method="POST" class="text-warning">#}
{#    {% csrf_token %}#}
{##}
{#    Введите рентабельность: <input type="text" class="form-control" name="num1"><br><br>#}
{#    Введите выручку: <input type="text" class="form-control" name="num2"><br><br>#}
{#    <input class="form-control" type="submit">#}
{#</form>#}
{#</nav><p></p>#}
{##}
{#    <p class="navbar-brand" style="padding-left:20px;">Рассчет прибыли (разделитель - точка!)</p>#}
{#    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">#}
{##}
{#<form action="pri" method="POST" class="text-warning">#}
{#    {% csrf_token %}#}
{##}
{#    Введите рентабельность: <input type="text" class="form-control" name="num1"><br><br>#}
{#    Введите выручку: <input type="text" class="form-control" name="num2"><br><br>#}
{#    <input class="form-control" type="submit">#}
{#</form>#}
{#</nav>#}
{#<p></p>#}
{##}
{##}
{#    <p class="navbar-brand" style="padding-left:20px;">Рассчет выручки (разделитель - точка!)</p>#}
{#    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">#}
{##}
{#<form action="vyr" method="POST" class="text-warning">#}
{#    {% csrf_token %}#}
{##}
{#    Введите себестоимость: <input type="text" class="form-control" name="num1"><br><br>#}
{#    Введите рентабельность: <input type="text" class="form-control" name="num2"><br><br>#}
{#    <input class="form-control" type="submit">#}
{#</form>#}
{#</nav>#}
{##}
{#    <p></p>#}
{##}
{##}
{#    <p class="navbar-brand" style="padding-left:20px;">Рассчет наценки (разделитель - точка!)</p>#}
{#    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">#}
{##}
{#<form action="nac" method="POST" class="text-warning">#}
{#    {% csrf_token %}#}
{##}
{#    Введите выручку: <input type="text" class="form-control" name="num1"><br><br>#}
{#    Введите себестоимость: <input type="text" class="form-control" name="num2"><br><br>#}
{#    <input class="form-control" type="submit">#}
{#</form>#}
{#</nav>#}

{% endblock %}