{% block task %}
{% load bootstrap4 %}
{% load static %}
    <table class="table">
        <thead>
        <tr>
            <th>Дата и время создания</th>
            <th>Тип задачи (конкурса)</th>
            <th>Отв. сотрудник</th>
            <th>Описание задачи</th>
            <th>Ценность задачи</th>
            <th>Сделать до:</th>
        </tr>
        </thead><p></p>

    <p>{{now|date:"d.M.Y.D"}}</p>Всего задач:
        {% if user.is_authenticated %}
            {% for tab in tabs %}
                <tbody>

                {% if forloop.last %}  {{ forloop.counter}}{% endif %}
                <tr class="{% cycle 'table-success' 'table-info' %}">
                    <td>{{ tab.created|date:"d.M.Y.D" }}</td>
                    <td>{{ tab.type_tender }}</td>
                    <td><img src="{{ tab.staffer.profile_pic.url }}"></td>
                    <td>{{ tab.task_info }}</td>
                    <td>{{ tab.profit_info }}</td>

                    <td class="nav-link text-danger">{{ tab.data2|date:"d.M.Y.D" }}</td>




                </tr>{% endfor %}
        {% else %}
        <td>Авторизуйтесь</td>
        <td>Авторизуйтесь</td>
        <td>Авторизуйтесь</td>
        <td>Авторизуйтесь</td>
        <td>Авторизуйтесь</td>
        <td>Авторизуйтесь</td>
        </tbody>{% endif %}
    </table>



{% endblock task %}